<div class="row">
  <div class="col-md-12">
    <matt-tw-bootstrap-pagination-table
      [isNotEmpty]="paginator.isNotEmpty()"
      [perPage]="paginator.perPage"
      [currentPage]="paginator.currentPage"
      [total]="10"
      (changePage)="changePage($event)">
      <tr thead *ngTemplateOutlet="tHead"></tr>
      <tr tfoot *ngTemplateOutlet="tHead"></tr>
      <tr *ngFor="let item of paginator?.data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
      </tr>
    </matt-tw-bootstrap-pagination-table>
  </div>
</div>
<ng-template #tHead>
  <th>#</th>
  <th>名稱</th>
</ng-template>
